

footer {

    color: #f1f1f1; 
    text-align: center;  
    bottom: 0; 
    width: 100%; 
 
   
}



.footer{
background-color: rgba(82, 41, 179, 0.5) !important;
    
}
.navbar-text{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

