@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700");
*{

  box-sizing: border-box;
  font-family: "Poppins", sans-serif !important;
}



.styleUL{
  margin-top: 30px !important;
    justify-content: start;
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-bottom: 300px !important;
  }


.sidebar {
  
    
    
    /* Estilos anteriores del nav... */
    width: 80px;
    transition: width 0.5s ease;
    /* Agrega transición a la propiedad width */
  
    position: fixed !important;
    height: 100vh;
    background: #dfe9f5;
    overflow: hidden;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
  }

  .section{

    display: flex;
    margin-left: 80px;
    transition: width 0.5s ease, margin-left 0.5s ease; /* Aplicar transición a width y margin-left */

  }




  
  .closed {
    width: 280px;
    transition: width 0.5s ease;
 

  }


  .closeds {

    width: 670px !important;
    transition: width 0.5s ease, margin-left 0.5s ease; 
    margin-left: 280px;
    
  }



  li{
    width: 100% !important;
    display: flex;
    align-items: center;
  }


.LogoNavar{
  width: 60px !important;
  height: 60px !important;
  margin-left: 15px !important;
  border-radius: 50% !important;
  margin-bottom: 10px;
}

.userData{
    margin-bottom: 60px !important;
}

.userData span{
    margin-left: 10px !important;
    font-size: 30px;
    font-family: "Poppins", sans-serif !important;
}


.styleA{
  color: rgb(85, 83, 83);
  font-size: 14px;
  width: 280px;
  margin-top: 15px;
  align-items: center !important;
  text-decoration: none;
}

.btnLogout{
    position:absolute;
}



.navItem{
  position: relative !important;
  top: 12px !important;
 
  white-space: nowrap;
  font-size: 20px;
    font-weight: bold;
    align-items: center !important;
    margin-bottom: 30px !important;
    color: black;
    text-decoration: none;

}

.nombrePersona{
  font-size: 2rem !important;
  max-width: 20px;
}


.textRol{
  position: relative !important;
  top: 12px !important;
  margin-left: -10px !important;
  white-space: nowrap;
  font-size: 25px;
    font-weight: bold;
    align-items: center !important;
    margin-bottom: 22px !important;
    color: #3c009d;
    text-decoration: none;

}


.styleA:hover{
  background: #eee;
}

.logout{
  margin-bottom: 20px;
  position: absolute;
  bottom: 0;
  color: black;
  text-decoration: none;


}

.toggleButton{
  
    background: #dfe9f5;
    border-color: transparent;

}




.iconoNav{
  background: #dfe9f5;
    font-size: 30px !important;

    font-weight: bold !important;
    border-color: transparent;
    color: rgb(0, 0, 0) !important;

}

.logout:hover{
  width: 100%;
  background-color: rgb(196, 192, 192);
}