*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url(../Images/pexels-luis-gomes-546819.jpg) !important;
    background-size: cover;
    /* opacity: 0.8; */
}

.ss{
    font-size: 300px;
}